@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

body {
    background-color: #F0F0F0;
}

h1 {
    font-size: 64px;
}

.logo {
    width: 105px;
    height: 105px;
}

.color-red {
    background-color: #E6563B;
}

.color-orange {
    background: #DEA03D;
}

.color-green {
    background-color: #7CB06C;
}

.color-blue {
    background-color: #00ABA9;
}

.circle {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: solid white 5px;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 5;
    align-content: stretch;
}

.selected {
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-top: 5em;
}

.four-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    float:left;
}

.dot-container {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    position: relative;

}
.card {
    border: none;
}
.card-img-top {
    border: #e6e6e6 solid 5px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.card-text {
    align-items:left;
    justify-content: left;
    align-content: flex-start;
    align-self: flex-start;
    align-items: flex-start;
}


@media screen and (max-width:768px){
    div.alert-info.hidden-on-desktop{
        display: none;
    }
    div.card.card2 {
        display: none;
    }
}



